.food-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    
}
.food-detail-title {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 40%;
    justify-content: space-around;
    align-items: flex-start;
}
.food-detail-info {
    display: flex;
    justify-content: space-around;

}
.food-detail-info span {
    color: black;
    text-transform: capitalize;
}

.food-detail-img {
    width: 90%;
    height: 40%;
}

.food-detail-img img {
    width: 25%;
    height: 80%;
    margin: 10px;

}

.food-detail-img img:hover {
    width: 30%;
    height: 90%;
}
.food-detail-description{
    height: 20%;
    padding:10px 0;
}

