.NewUser {
    margin: auto;
    width: 75%;
}

h1 {
    color: #cc6666;
}

.NewUser-Container{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.User-Fields {
    margin: 2%;
    width: 100vw;
}

.Address-Fields {
    margin: 1.5% 2% 2% 2%;
    width: 100vw;
}

.sign-up-button { 
    margin: 2%;
    height: 100%;
    width: 30%;
    background-color: #cc6666;
    color: white;
    border-radius: 5px;
    font-size: 80%;
    font-weight: bold;
    padding: 2%
    
}

.sign-up-button:hover {
    box-shadow: 0px 3px 10px #838383;
}

@media only screen and (max-width: 660px) {
    .sign-up-button {
        width: 35%;
    }
}

@media only screen and (max-width: 500px) {
    .sign-up-button {
        width: 45%;
    }
}
