.user-wrapper {
    height: 100%;
    width: 100%;
}
.user-profile-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 8% auto;
    width: 100%;
    background-color: #cc666666;
    position: relative;
    height: 150px;


}

.user-container {
    box-shadow: 5px 10px 40px #888888;
    width: 80%;
    margin: 0 auto;

}
.user-profile-top img {
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: center;
    
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-around;
    
}
.user-info p {
    margin-top: 2%;
}
.user-diet {
    margin-bottom: 5%;
}

.user-food-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.food-list {
    width: 100%;
}

.user-food {
    color: #d15555;
    text-transform: uppercase;
    border-bottom: 2px solid #edeced;
    width: 30%;
    /* padding:2% 2% 2% 0; */
    margin: 2% auto;
    font-weight: bold;
}
.user-name{
    color: black;
}


.user-button { 
    margin: 2%;
    height: 100%;
    width: 30%;
    background-color: #cc6666;
    color: white;
    border-radius: 5px;
    font-size: 80%;
    font-weight: bold;
    padding: 2%
    
}

.user-button:hover {
    box-shadow: 0px 3px 10px #838383;
}


@media only screen and (max-width: 800px) {
    .user-info{
        margin-top: 25%;
    }
}

@media only screen and (max-width: 660px) {
    .user-button {
        width: 35%;
    }
}

@media only screen and (max-width: 500px) {
    .user-button {
        width: 45%;
    }
}