.home-image {
    height: 25%;
    width: 50%;
    margin: 0 auto;

}
.home-wrapper {
    display: flex;
    flex-direction: column;
}
.home-top {
    height:600px;
    background-image: url('https://cdn.junglecreations.com/wp/junglecms/2018/01/GettyImages-674708451-compressor-850x437.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
/* .home-bottom {
   margin: 0 auto;
   
} */