.home-image {
    height: 20%;
    width: 50%;
    margin: 3% auto;

}
.home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.home-top {
    background-image: url('https://cdn.junglecreations.com/wp/junglecms/2018/01/GettyImages-674708451-compressor-850x437.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;

    
}

/* .searchBar {
    margin: 15% auto;
    width: 50%;
    margin-top: 5%;
} */

