.button { 
    margin: 2%;
    height: 100%;
    width: 15%;
    background-color: #cc6666;
    color: white;
    border-radius: 5px;
    font-size: 80%;
    font-weight: bold;
    padding: 1%;
    
}

@media only screen and (max-width: 660px) {
    .button {
        width: 20%;
    }
}

@media only screen and (max-width: 500px) {
    .button {
        width: 35%;
    }
}
