
select {
    outline: none;
    border: 1px solid #cc6666;
    width: 100%;
    background: transparent;
    z-index: 10;
    appearance: none;
    padding: 1.5% 2% 2% 2%;
    color: grey;
    margin-top: 2%;
    /* border: none; */
}

.select-container {
    background: url('../assets/dropdown-arrow.jpg');
    background-size: 95%;
    background-position: 95% center;
    
}
