
.drop-down-elem{
    color: #cc666666;
    text-transform: capitalize;
    background: transparent;
    font-weight: bold;
    /* margin: 5% auto; */
    box-shadow:10px 15px 30px  #cc666666;
    opacity: 0.8;

}

.drop-down-elem div {
    margin-top: 0;
    
}
