
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height:50px;
    border-bottom: 1px solid #edeced;
    padding: 3%;
    margin: 0 10%;
}

img {
    height: 50px;
    /* padding-top: 7px; */
}

.global-header-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}
.global-header-button button{
    border: none;
    color: #cc6666;
    font-size: 16px;
    padding: 10px;
    margin: 2px;
}

.global-header-button button:hover { 
    color: white;
    box-shadow: 0px 3px 10px #838383;
    border-radius: 4px;
    background-color: #cc6666;
}

/* .signup-button button {
    border: 1px solid #cc6666;
    border-radius: 4px;
} */

