
.header-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height:50px;
    border-bottom: 1px solid #edeced;
    padding: 0 30px;
}

img {
    height: 50px;
    padding-top: 7px;
}

.header-button button{
    border: none;
    color: #cc6666;
    font-size: 16px;
    margin-right: 8px;
}

button:hover { 
    color: white;
    background-color: #cc6666;    
    box-shadow: 0px 3px 10px #838383;
    border-radius: 4px;
}









