
.header-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #dddddd;
    

}
p{
    margin-top: 0px;
}

img{
    height: 100px;
    background-color: blue;
}
.body-container{
    background-color: aqua;
    height: 700px;
}