input[type=text], input[type=password] {
    border: 1px solid #cc6666;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
    margin: 2%;
}

/* input[type=text] {
    margin-top: 5%;
} */

.address-field-container {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

