.promo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
    margin: 0 10px;

}

.promo-elem {
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 8px;
  height: 100%;
  
}
.promo-image {
    width:100%;

    padding-top: 0; 
    height: 150px;;
   
}
.promo-elem p {
    text-align: center;
    padding: 10px 20px;
    text-transform: capitalize;
}


h3 {
    display: block;
    text-transform: uppercase;
    color: #d15555;
}
