.promo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
    margin: 0 20px;

}

.promo-elem {
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 8px;
  height: 100%;
  
}

.promo-elem:hover {
    box-shadow: 7px 8px 35px #cc6666;
}
.promo-image {
    width:100%;
    padding-top: 0; 
    height: 150px;;
   
}
.promo-elem p {
    text-align: center;
    padding: 10px 30px;
    text-transform: capitalize;
}


h2 {
    display: block;
    text-transform: uppercase;
    color: #cc6666;
}
